n8n-lead-submission-workflow.json
{
  "name": "Lead Submission - South Suburbs Best",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Lead Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-submission"
    },
    {
      "parameters": {
        "jsCode": "// Clean and normalize the incoming lead data\nconst body = $input.item.json.body;\n\n// Ensure all required fields are present\nconst cleanedData = {\n  business_id: body.business_id || null,\n  customer_name: (body.customer_name || '').trim(),\n  customer_email: (body.customer_email || '').trim().toLowerCase(),\n  customer_phone: body.customer_phone ? body.customer_phone.trim() : null,\n  city_or_zip: body.city_or_zip ? body.city_or_zip.trim() : null,\n  service_requested: body.service_requested ? body.service_requested.trim() : null,\n  message: (body.message || '').trim(),\n  preferred_contact: body.preferred_contact || 'either',\n  budget_range: body.budget_range || null,\n  timeline: body.timeline || null,\n  source: body.source || 'website',\n  utm_source: body.utm_source || null,\n  utm_medium: body.utm_medium || null,\n  utm_campaign: body.utm_campaign || null,\n  ip_address: body.ip_address || $input.item.json.headers['x-forwarded-for'] || $input.item.json.headers['x-real-ip'] || null,\n  status: 'new'\n};\n\n// Validate required fields\nif (!cleanedData.customer_name || !cleanedData.customer_email || !cleanedData.message) {\n  throw new Error('Missing required fields: customer_name, customer_email, or message');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(cleanedData.customer_email)) {\n  throw new Error('Invalid email format');\n}\n\nreturn cleanedData;"
      },
      "id": "code-node",
      "name": "Clean & Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.southsuburbsbest.com/items/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EDMZWZPeaYCnXOgYze4kpqR_Sp1TVpHl"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "directus-node",
      "name": "Create Lead in Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead submitted successfully\", \"lead_id\": $json.data.id } }}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": \"🎯 New Lead Received!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🎯 New Lead Submission\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Customer:*\\n\" + $('Create Lead in Directus').item.json.customer_name\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*\\n\" + $('Create Lead in Directus').item.json.customer_email\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Phone:*\\n\" + ($('Create Lead in Directus').item.json.customer_phone || 'Not provided')\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Timeline:*\\n\" + ($('Create Lead in Directus').item.json.timeline || 'Not specified')\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Message:*\\n\" + $('Create Lead in Directus').item.json.message\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View in Directus\"\n          },\n          \"url\": \"https://admin.southsuburbsbest.com/admin/content/leads/\" + $('Create Lead in Directus').item.json.data.id\n        }\n      ]\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "notification-node",
      "name": "Send Notification (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 480],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook - Lead Submission": {
      "main": [
        [
          {
            "node": "Clean & Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Normalize Data": {
      "main": [
        [
          {
            "node": "Create Lead in Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in Directus": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notification (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}
